:root {
    --pimary: #eae2b7;
    --secondary: #fcbf49;
    --tertiary: #f77f00;
    --extra: #003049;
  }

.avator{
    width: 80%;
    height: auto;
    margin: 1em;
}
.names{
    padding: 1em;
    color: var(--secondary);
}
.intro{
    text-align: center;
    
    margin: 1em;
}
.city{
    background-color: var(--extra);
    padding: 1em;
    color: var(--pimary);
}
.main{
    padding: 1em;
    display: block;
    background-color: var(--pimary);
    background-image: url(./static/table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#cityPicture{
    width: 100%;
    margin: 2em;
}


.languages{
    background-color: var(--extra);
    padding: 1em;
        margin: 1em;
        color: var(--pimary);
   
    
}

 th, td {
    border: 1px solid --extra;
    
    
  }
  table{
    overflow-y:scroll;
   height:100px;
   display:block;
   margin: 1em;
   padding: 1em;
   background-color: var(--tertiary);
  }

  .histdata {
      
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--extra);
    
  }
  
  .histdata > div {
    background-color:var(--pimary);
    width: 100%;
    font-size: 10px;
    color: var(--extra);
    margin: .0em;
  }

  .imgcity{
      margin: 1em;
     
  }

  .imgct{
      height: auto;
      width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .imgct{
        height: auto;
        width: 100%;
    }

    table{
        overflow-y:hidden;
       height:auto;
       display:block;
       width: 100%;
       display:block;
       margin: 0px;
       padding: 0px;
       background-color: var(--secondary);
    }

    #cityPicture{
        width: 100%;
    }
    .cityrap{
        display: flex;
    }
    
    .cityrap > div {
        background-color:var(--pimary);
        width: 100%;
        color: var(--tertiary);
        font-size: medium;
        
      }
      .cityPicture{
       margin: 1em;
      }
    .intro{
        display: flex;
        
    }
    .languages{
        padding: 1em;
        margin: 1em;
    }

    .intro > div {
       
        width: 100%;
        color: var(--secondary);
        font-size: medium;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        
      }
      .names{
          margin: 5em;
           
      }
      .avator{
        width: 80%;
        height: auto;
      
    }
    .historic_place{
        display: flex;
    }

    .historic_place > div {
        background-color: 692424;
   
        
        font-size: medium;
        
      }
      .histdata {
        color: var(--secondary);
        display: flex;
    
        background-color: var(--tertiary);
      }

      .histdata > div {
        background-color:var(--pimary);
        width: 100%;
        font-size: 10px;
        color: var(--extra);
        margin: 1em;
      }


  }